<form method="post" action="  ">  
    Email: <input type="text" name="Email">
    <span class="error">{{ emailError }}</span>
    <br><br>
    Passwort: <input type="text" name="Passwort">
    <span class="error">{{ passwortError }}</span>
    <br><br>
    <input type="submit" name="Login" value="Login">
    <br>
</form>
<a href="/index.php?page=registrierung">Noch keinen Account?</a>