<form method="post" action="  ">  
    Benutzer Name: <input type="text" name="BenutzerName">
    <span class="error">{{ nameError }}</span>
    <br><br>
    Email: <input type="text" name="Email">
    <span class="error">{{ emailError }}</span>
    <br><br>
    Passwort: <input type="text" name="Passwort">
    <span class="error">{{ passwortError }}</span>
    <br><br>
    Passwort erneut: <input type="text" name="Passwort2">
    <span class="error">{{ passwort2Error }}</span>
    <br><br>
    <input type="submit" name="Register" value="Register">
    <br>
</form>